@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: url(http://kaylatomkiewicz.ca/cityscape.jpg) no-repeat;
  background-size: cover;
  height: 100%; }

/* line 19, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#feedback-page {
  text-align: center; }

/* line 23, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#form-main {
  width: 100%;
  float: left;
  padding-top: 0px; }

/* line 29, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

/* line 45, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0); }

/* line 63, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #004700;
  color: #004700;
  outline: none;
  padding: 13px 13px 13px 54px; }

/* line 72, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.focused {
  color: #30aed6;
  border: #30aed6 solid 3px; }

/* line 77, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

/* line 84, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

/* line 92, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

/* line 99, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

/* line 106, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

/* line 113, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical; }

/* line 121, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
input:hover, textarea:hover, input:focus, textarea:focus {
  background-color: #fff; }

/* line 125, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  float: left;
  width: 100%;
  border: #fff solid 4px;
  cursor: pointer;
  background-color: #004700;
  color: #fff;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700; }

/* line 143, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
#button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #004700; }

/* line 148, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.submit:hover {
  color: #004700; }

/* line 152, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease; }

/* line 163, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
.submit:hover .ease {
  width: 100%;
  background-color: #fff; }

@media only screen and (max-width: 580px) {
  /* line 169, /Users/kayla/Documents/Graphic Design/Web Dev 5/exercise-4/scss/components/main */
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%; }
 }
